input {
    width: 100%;
    display: block;
    border: none;
    border-radius: 15px;
    text-indent: 10px;
    height: 40px;
    box-sizing: border-box;
    margin: 0 0 10px;
    outline: none;
}

button {
    background-color: rgb(54, 54, 160);
    color: rgb(214, 214, 214);
    border: none;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

button:hover {
    background-color: rgb(187, 179, 179);
    color: #111;
}

a,
a:active,
a:hover {
    text-decoration: none;
    color: rgb(196, 179, 194);
}

.App {
    text-align: center;
    background: #111;
    background-size: cover;
    color: #fff;
}

.container {
    box-sizing: border-box;
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 80px 40px 40px;
    background: rgb(31, 30, 30, 0.9);
}